<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove02.css">
</head>

<body>
    <%- include ../includes/nav.ejs %>

    <main>
        <form class="book-form" action="/prove02/prove02display" method="POST">
            <div class="form-control">
                <div class="title">
                    <label for="book">Book Title:</label>
                    <input class="book-form__title" type="text" name="book" id="book">
                </div>
                <div class="summary">
                    <label for="summary">Book Summary:</label>
                    <textarea class="book-form__summary" name="summary" id="summary"></textarea>
                </div>
            </div>
            <button class="book-form_button" type="submit">Submit</button>
        </form>
    </main>
    
<%- include ../includes/end.ejs %>