<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove02books.css">
</head>

<body>
    <%- include ../includes/nav.ejs %>

    <main>
        <a href="/prove02/">Add another book here</a>
        <div class="grid">
            <% if (prods.length > 0) { %>
                <% for (let product of prods) { %>
                    <div class="product">
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title"><%= product.book %></h1>
                            </header>
                            <div class="card__content">
                                <p class="product__description"><%= product.summary %></p>
                            </div>
                        </article>
                    </div>
                <% } %>
            <% } else { %>
                <h1>No Products Found</h1>
            <% } %>
        </div>
    </main>
    
<%- include ../includes/end.ejs %>